<div class="form-page">
  <h2>Register</h2>
  <span>
    Already have account?<a style="width: 20%;" [routerLink]="['/login']"> Sign In</a>
  </span>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <div class="justify-content-center">
          <div></div>
          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput
                   formControlName="email" />
          </mat-form-field>
        </div>

        <div>
          <div class="justify-content-center">
            <div></div>
            <mat-form-field appearance="outline">
              <mat-label>User Name</mat-label>
              <input matInput
                     formControlName="username" />
            </mat-form-field>
          </div>
        </div>

        <div>
          <div class="justify-content-center">
            <div></div>
            <mat-form-field appearance="outline">
              <mat-label>Firs Name</mat-label>
              <input matInput
                     formControlName="firstname" />
            </mat-form-field>
          </div>
        </div>

        <div>
        <div class="justify-content-center">
          <div></div>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput
                   formControlName="lastname" />
          </mat-form-field>
        </div>
      </div>

        <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput
                 type="password"
                 formControlName="password" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput
                 type="password"
                 formControlName="confirmPassword" />
        </mat-form-field>
      </div>

      <div id="controls" class="row">
        <button [disabled]="registerForm.invalid"
          mat-flat-button
          color="primary"
        >
          Sign Up
        </button>
      </div>
    </div>
  </form>
</div>

