<mat-toolbar color="primary">
  <span [routerLink]="['/main']" class="logo">InstaZoo</span>
  <span class="spacer"></span>

  <button *ngIf="!isLoggedIn"
          [routerLink]="['/login']"
          class="example-icon favorite-icon"
          matTooltip="Login"
          mat-icon-button>
    <mat-icon>login</mat-icon>
  </button>

  <h3 *ngIf="currentUser$ | async">{{(currentUser$ | async)?.firstname}} {{(currentUser$ | async)?.lastname}}</h3>
  <button *ngIf="isLoggedIn"
          [matMenuTriggerFor]="menu"
          class="example-icon favorite-icon"
          matTooltip="Profile"
          mat-icon-button>
    <mat-icon color="accent">account_box</mat-icon>
  </button>
  <mat-menu id="menu-item" #menu="matMenu">
    <button mat-menu-item [routerLink]="['/profile']">Profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>

