<div class="form-page">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="justify-content-center">
        <div></div>
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput
                 formControlName="username" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput
                 type="password"
                 formControlName="password" />
        </mat-form-field>
      </div>
      <div id="controls" class="row">
        <button [disabled]="loginForm.invalid"
                (click)="onSubmit()"
                mat-flat-button color="primary">
          Sign In
        </button>

        <a style="width: 20%;" [routerLink]="['/register']">Sign Up</a>
      </div>
    </div>
  </form>
</div>
