<div *ngIf="postProps.comments">
  <div>
    <p *ngFor="let comment of postProps.comments">
      <span>{{comment.username}}</span>: {{comment.message}}
    </p>
  </div>

  <mat-form-field class="w-100" >
    <mat-label>Leave a comment...</mat-label>
    <input matInput
           (keyup.enter)="postComment($event.target.value, postProps)"
           #messeage
           maxlength="128">
    <mat-hint align="end">{{messeage.value.length}} / 128</mat-hint>
  </mat-form-field>
</div>


