<mat-card class="post-cart" *ngFor="let post of (posts$ | async); let i = index">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-subtitle>{{post.location}}</mat-card-subtitle>
  </mat-card-header>

  <img [src]="formatImage(post.image)" alt="post image">

  <mat-card-subtitle align="start">Posted by {{post.username}}</mat-card-subtitle>
  <mat-card-content>
    <p>{{post.caption}}</p>
  </mat-card-content>

  <mat-card-actions align="start">
    <button mat-button
            (click)="likePost(post)"
            [ngClass]="post.usersLiked.indexOf(userProps.username) !== -1 ? 'is-liked' : 'not-liked'">
      <mat-icon>favorite</mat-icon>
      Like
    </button>
  </mat-card-actions>

  <!--COMMENTS-->
  <iz-comments [ispost]="isPostLoaded"
               [post]="post"
               [index]="i+1"></iz-comments>
</mat-card>
