<div *ngIf="(user$ | async)" class="user-profile">

  <h1>Profile</h1>
  <div style="text-align: right">
    <button mat-flat-button color="primary">Edit Info</button>
  </div>

  <div style="padding-top: 2rem" class="row">
    <div class="col">
      <img [src]="previewImage ||
                  formatImage((userProfileImage$ | async)) ||
                  'https://www.missingdogsuk.co.uk/wp-content/plugins/wp-job-manager-resumes/assets/images/candidate.png'"
                  alt="user image"
                  class="profile-image" />

      <input type="file"
             style=""
             #fileInput
             (change)="onFileSelected($event)">

      <button mat-button (click)="fileInput.click()">Pick File</button>
      <button mat-button *ngIf="selectedFile" (click)="onUpload()">Upload</button>
    </div>

    <div class="col" style="text-align: left">
      <h2>{{(user$ | async)?.username}}</h2>
      <h3 style="font-style: italic">{{(user$ | async)?.firstname}}  {{(user$ | async)?.lastname}}</h3>

      <p>{{(user$ | async)?.bio}}</p>
      <mat-divider style="margin: 2rem 0"></mat-divider>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ng-template #emplate></ng-template>
