.index-page {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 3rem;
}

.post-cart {
  display: block;
  margin: 2rem auto;
  width: 80%;
}

.is-liked {
  color: darkred;
}

.not-liked {
  color: grey;
}
