html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*--login and register form--*/
.form-page {
  text-align: center;
  margin-top: 10rem;
}

mat-form-field {
  width: 50%;
}

#controls {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.mat-form-field-appearance-outline
.mat-form-field-can-float
.mat-form-field-should-float
.mat-form-field-label,
.mat-form-field-appearance-outline
.mat-form-field-can-float
.mat-input-server:focus + .mat-form-field-label-wrapper
.mat-form-field-label {
  transform: translateY(-0.8em) scale(0.75);
  width: 133.3333333333%;
}

.mat-form-field-appearance-outline
.mat-form-field-can-float
.mat-form-field-should-float
.mat-form-field-outline-gap {
  border-top-color: currentColor !important;
}
